:root{
	--primary:#4459a7;
	--background: #ffffff;
}
.dia{
	background: #fff;
	color: #4459a7;
	--primary:#4459a7;
	--background: #fff;
}
.noite{
	background: linear-gradient(to bottom, #414455, #242835);
	color: #2678ed;
	--primary:#2678ed;
	--background: #fff;
}

.dia *, .noite *{
	color: inherit !important;
}


html,body{
	padding: 0;
	margin: 0;
	background: var(--bg-color);
	background-repeat: no-repeat;
	height: 100vh;
	color: var(--primary);
    font-size:12px;
    width:100%;
}
* {
    box-sizing: border-box;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    transition:all 0.3s;
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}
*:focus{
    outline: none;
}

.hidden{
	display: none !important;
}
.container-fluid{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	height: 100vh;
}
#btn_menu {
	width: 20px;
	height: 20px;
	background: transparent;
	border: none;
	border-top: 2px solid var(--primary);
	border-bottom: 2px solid var(--primary);
	margin: 40px 15px;
	position: absolute;
	right: 10px;
	cursor: pointer;
}
#btn_menu::after {
	content: "";
	height: 2px;
	background: var(--primary);
	width: 100%;
	display: block;
	position: absolute;
	left: -5px;
}
#btn_fechar {
	position: absolute;
	top: 40px;
	right: 15px;
	height: 30px;
	width: 30px;
	background: transparent;
	border: none;
	cursor: pointer;
}
#btn_fechar::after {
	content: "+";
	font-size: 30px;
	color: red;
	transform: translate3d(-50%, -50%, 0) rotate(45deg);
	display: block;
	padding: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
}
.atual{
	background: #fff !important;
	color: var(--primary) !important;
	border:2px solid var(--primary) !important;
}
#menu {
	position: fixed;
	left: 100vw;
	top: 0;
	transition: all 0.3s;
	width: 100%;
	z-index: 2;
	background: #fff;
	overflow: hidden;
	overflow-y: auto;
	align-content: flex-start;
}
.titulo, .subtitulo{
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
	margin-top: 40px;
	color: var(--primary);
}
.subtitulo{
	font-size: 20px;
}
.container{
	width: 80%;
	display: block;
}
.hora {
	padding: 20px;
	border-radius: 50%;
	border: 3px solid var(--primary);
	height: 150px;
	line-height: 60px;
	color: var(--primary);
	width: 150px;
	margin: 0;
	box-shadow: 0px 0px 0px 5px #4459a777;
}
.relogio {
	display: grid;
	grid-template-rows:1fr 1fr;
	justify-content: center;
	text-align: center;
	color: #3337;
	padding: 10px;
	border-radius: 50%;
	row-gap: 15px;
	font-size: 30px;
	width: 100%;
}
.btn_start{
	width: 50px;
	height: 50px;
	border: none;
	margin: 0 auto;
	display: block;
	background: transparent;
	position: relative;
	cursor: pointer;
}
.play::after {
	content: "";
	background: transparent;
	border-top: 10px solid var(--primary);
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-40%, -50%,0) rotate(-90deg);
}
.pause::after {
	content: "II";
	background: transparent;
	color: var(--primary);
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-40%, -50%,0);
	font-size: 18px;
}
.btn, .btn_vol{
	font-size: 14px;
	width: 100%;
	display: block;
	margin: 20px auto;
	height: 35px;
	border-radius: 35px;
	border:none;
	cursor: pointer;
}
.btn:not(.atual), .btn_tema:not(.atual) {
	background: var(--primary) !important;
	color: var(--background) !important;
}

.btn_vol{
	width: auto;
	min-width: 36px;
	margin:5px;
}
#container-volume{
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 20px;
	justify-content: center;
}

.btn_tema {
	width: 40%;
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 14px;
	background: var(--primary);
	color: var(--background);
	border: 2px solid var(--primary);
	margin-bottom: 20px;
}
